.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid;
}
.logo {
  width: 100px;
}
.nav-items {
  padding-right: 1rem;
}
.nav-items ul {
  display: flex;
}
.nav-items ul li {
  padding: 10px;
  margin: 10px;
  list-style: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.res-card {
  width: 200px;
  /* height: 300px; */
  padding: 5px;
  margin: 5px;
}
.res-card:hover {
  border: 1px solid;
  cursor: pointer;
}
.search {
  padding: 10px;
}
.res-img {
  width: 100%;
  height: 42%;
  /* margin: 5px; */
}
.res-container {
  display: flex;
  flex-wrap: wrap;
  /* gap: 1rem; */
}
